@CHARSET "UTF-8";
#search-header{
	min-width:1400px;
	height: 100px;
	display:block;
}
#search-header span{
	margin: 0 auto;
}
#search-container{
	width: 1440px;
	min-height: 600px;
	margin: 0 auto;
}

#photo-container1{
	width:900px;
	min-height: 600px;
	margin: 0 auto;
	float:left;
	padding: 10px;
}
#photo-container1 img{
	width: 350px;
	height: 350px;
	
}
#search-side-map{
	min-height:600px;
	width:300px;
	float:left;
}
#search-side-nav{
	min-height:600px;
	width:200px;
	float:left;		
}